h1 {
    font-size: 3.3em;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    animation: flip 2s;
    color: lightgray;
}

h3 {
    margin-bottom: 12px;
    border: 0;
    font-size: 1.9em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    color: lightgray;
}

@keyframes flip {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0);
    }
}


@media (max-width: 509px) {
    h1 {
        font-size: 2.3em;
        text-align: center;
    }
}